.guide-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--page-background);
  border: 1px solid var(--dark-green);
  min-height: calc(100vh - 120px);
  padding: 20px;
}

.guide-column {
  text-align: center;
  padding: 2rem;
  align-self: center;
}

.guide-page-title {
  color: var(--dark-green);
  font-weight: bolder;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.guide-page-title span {
  color: var(--background-color);
  font-weight: bolder;
}

.guide-section-title {
  color: var(--dark-green);
  font-weight: bolder;
  font-size: 2rem;
}
