.h1-login {
  color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
}
.card-all {
  height: 600px;
  width: 600px;
  background-color: var(--background-color);
}

.btn-login {
  background-color: var(--accent-color);
  color: var(--text-color);
}
